div.container_home{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    height: 760px;
}
div.container_center_home{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    width: 940px;
    height: 100%;
}
div.container_presentation{
    width: 100%;
    height: 660px;
    display: flex;
    flex-direction: row;
}
div.container_img_presentation{
    background-image: url("../images/iphone_img.jpeg");
    background-size: cover;
    background-position: -50px;
    flex-grow: 5.6;
}
div.container_center_img_presentation{
    width: 100%;
    height: 35px;
}
div.container_authenticate{
    flex-grow: 1;
}
div.container_logo_authenticate{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(177, 176, 176, 0.47) ;
}
div.container_login_authenticate{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(177, 176, 176, 0.47);
    margin-top: 15px;
}
div.presentation_other_proposal{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(177, 176, 176, 0.47);
    margin-top: 15px;
}
div.presentation_other_proposal_donwload_app{
    width: 100%;
    height: 10%;
    margin-top: 15px;
    border: 1px solid rgba(177, 176, 176, 0.47);
}